#elBoton {
    border: 1px solid #080508; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #528f4a; /*color botón*/
    color: #075036; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }
#otroBoton {
    border: 1px solid #4d4d41; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #3b1f50; /*color botón*/
    color: #881717; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }